<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="favicon" href="Logo(Standalone).PNG">
    </head>
    <body>
        <nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo"><img src="Logo(Standalone).PNG"></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a v-on:click="counter = 0">Home</a></li>
				<li><a v-on:click="counter = 1">About</a></li>
				<li><a v-on:click="counter = 2">Menu</a></li>
				<li><a v-on:click="counter = 3">Contact</a></li>
				<li><a class="waves-effect waves-light btn" v-on:click="counter = 4">SHOP</a></li>
			</ul>
		</div>
		</nav>
        <div id="app">
			<span v-html="message" v-if="counter==0"></span>
			<span v-html="menu" v-if="counter==1"></span>
			<span v-html="about" v-if="counter==2"></span>
			<span v-html="contact" v-if="counter==3"></span>
			<span v-html="shop" v-if="counter==4"></span>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>
