html {
	font-family: "Roboto", sans-serif;
	background: #FFF;
}

h1 {
	text-align: center;
	font-family: "Roboto Slab", sans-serif;
	color: #F44336;
}

h2 {
	text-align: center;
	font-family: "Roboto Slab", sans-serif;
	color: #8bc34a;
}


.brand-logo > img {
	height: 64px;
}
.nomargin {
	margin: 0;
}


.footerlist {
	line-height: 150%;
}

a {
	color: #1de9b6 !important;
}

a:hover {
	color: #00bfa5 !important;
	cursor:pointer !important;
}

.card a {
	color: #ffab40 !important;
}

a > i {
	color: white !important;
}

.full-icecream {
	height:50vh;
	background-image: url('./icecream.jpg');
	background-position: center;
	background-size: cover;
}

.page-footer, nav {
	background-color: #ee6e73;
}

.hoverable:hover {
    -webkit-box-shadow: 0 14px 24px 0 rgba(0,0,0,0.2), 0 12px 28px 0 rgba(0,0,0,0.19);
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.2), 0 12px 28px 0 rgba(0,0,0,0.19);
}
