h1 {
	text-align: center;
}

.brand-logo > img {
	height: 64px;
}
.nomargin {
	margin: 0;
}


.footerlist {
	line-height: 150%;
}

.full-icecream {
	height:50vh;
	background-image: url('./icecream.jpg');
	background-position: center;
	background-size: cover;
}